.page {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  transition: transform 0.5s ease;
}

.pageforward,
.pagebackward {
  transition: transform 0.5s ease;
}

.pageforward {
  overflow-y: scroll;
}

.pageforward.page-enter {
  /* opacity: 0; */
  transform: translateX(-100%);
}

.pageforward.page-enter-active {
  /* opacity: 1; */
  transform: translateX(0);
}

.pageforward.page-exit-active {
  /* opacity: 0; */
  transform: translateX(-100%);
}

.pagebackward.page-enter {
  /* opacity: 0; */
  transform: translateX(100%);
}

.pagebackward.page-enter-active {
  /* opacity: 1; */
  transform: translateX(0);
}

.pagebackward.page-exit-active {
  /* opacity: 0; */
  transform: translateX(100%);
}
